// =============================================================================
// BLOCK
// =============================================================================

// Variables for block-level elements.



$block-margin-bottom ?= $unit
