// =============================================================================
// FORM CONTROL
// =============================================================================

// Variables for form elements like input, select, checkbox, etc.



$form-control-padding-y         ?= $unit-em-2s
$form-control-padding-x         ?= $unit-em-sm
$form-control-font-size         ?= $font-size
$form-control-border-width      ?= $unit-8s
$form-control-border            ?= $form-control-border-width solid palette(Grey, '300')
$form-control-border-radius     ?= $global-radius
$form-control-color             ?= palette(Black)
$form-control-placeholder-color ?= palette(Grey, '400')
$form-control-bg-color          ?= palette(White)





// States
// =============================================================================

$form-control-disabled-border            ?= $form-control-border
$form-control-disabled-color             ?= palette(Grey, '500')
$form-control-disabled-placeholder-color ?= palette(Grey, '300')
$form-control-disabled-bg-color          ?= $form-control-bg-color
