/* ==========================================================================
   TABLE
   ========================================================================== */

/*
 * Simple object for manipulating the structure of HTML <table>.
 */



.o-table
  background-color white





  /* Equal-Width Table Cells
     ======================================================================== */

  /*
   * `table-layout: fixed` forces all cells within a table to occupy the same
   * width as each other. This also has performance benefits: because the 
   * browser does not need to (re)calculate cell dimensions based on content it 
   * discovers, the table can be rendered very quickly. Further reading:
   * developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
   */

  &--fixed
    table-layout fixed





  /* Size Variants
     ======================================================================== */

  &--sm
    th,
    td
      padding $unit-xs

  &--lg
    th,
    td
      padding $unit-sm