/* ==========================================================================
   WRAPPER
   ========================================================================== */

/*
 * Page-level constraining and wrapping elements.
 */



.o-wrapper
  width 100%
  max-width: $breakpoints.desktop
  margin-left auto
  margin-right @margin-left
  padding-left $unit 
  padding-right @padding-left





/* Size Variants
   ========================================================================== */

.o-wrapper
  
  &--sm
    padding-left $unit-sm
    padding-right @padding-left
  

  &--lg
    padding-left $unit-lg
    padding-right @padding-left