/* ==========================================================================
   SHARED
   ========================================================================== */

/*
 * Shared declarations for certain elements.
 */



/*
 * Consistent `margin-bottom` for some block-level elements. 
 *
 * Tip: always declare margins in the same direction:
 * csswizardry.com/2012/06/single-direction-margin-declarations.
 */
 
address,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, ol, ul,
figure,
hr,
table,
fieldset
  margin-bottom $block-margin-bottom


/*
 * Consistent indentation for lists.
 */

ul, ol, dd
  margin-left $unit