/* ==========================================================================
   RESET
   ========================================================================== */

/*
 * A simple reset that complements Normalize.css.
 */



/*
 * Set outline styles.
 *
 * There are a number of alternative methods to style elements that are in
 * focus:
 *
 *   a) give it a background colour;
 *   b) change the text colour (make it high contrast for blind people);
 *   c) provide a custom outline.
 *
 * Further reading: www.w3.org/TR/2008/NOTE-WCAG20-TECHS-20081211/F78.
 */

:focus
  outline-styles()


/*
 * Remove default padding and margin.
 */

body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend
  margin 0
  padding 0


/*
 * Reset default font styles in all browsers.
 */

button,
input,
optgroup,
select,
textarea
  font-family $font-family-primary
  font-size 1em


/*
 * Remove tap highlight on mobile Webkit browsers.
 */

a,
button,
input,
textarea,
select,
label
  -webkit-tap-highlight-color transparent


/*
 * Reset button appearance set in the Normalize.css.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"]
  appearance none


/*
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content`
 *    on fieldsets.
 */

fieldset
  min-width 0 /* [1] */
  border 0


/*
 * Remove spinner button of number picker input elements.
 */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button
  appearance none

input[type="number"]
  -moz-appearance textfield
  appearance textfield


/*
 * Remove default table spacing.
 */

table
  border-collapse collapse


/*
 * Make <th> aligned to left.
 */

th
  text-align left
