/* ==========================================================================
   BLOCK
   ========================================================================== */

/*
 * Simple object to make element as a block and add consistent `margin-bottom`.
 */



.o-block
  display block
  margin-bottom $block-margin-bottom