/* ==========================================================================
   HEADING
   ========================================================================== */



/*
 * Define headings classes to separate semantics from styling, e.g. we
 * semantically need an H2, but we want it to be styled & sized like an H1:
 *
 *   <h2 class="o-h1"></h2>
 */

.o-h1
  font-size $h1-font-size

.o-h2
  font-size $h2-font-size

.o-h3
  font-size $h3-font-size

.o-h4
  font-size $h4-font-size

.o-h5
  font-size $h5-font-size

.o-h6
  font-size $h6-font-size