/* ==========================================================================
   WRAPPER
   ========================================================================== */

/*
 * Page-level constraining and wrapping elements.
 */



.o-wrapper
  width 100%
  max-width: $breakpoints.desktop
  margin-left auto
  margin-right auto
  padding-left $unit 
  padding-right $unit





/* Size Variants
   ========================================================================== */

.o-wrapper
  
  &--sm
    padding-left $unit-sm
    padding-right $unit-sm
  

  &--lg
    padding-left $unit-lg
    padding-right $unit-lg