/* ==========================================================================
   PRINT
   ========================================================================== */

/*
 * Print styles that optimize the printing process and make the printed pages
 * easier to read.
 */



@media print

  /* HTML5 Boilerplate Print Styles
     ======================================================================== */

  /*
   * Reset-like styles taken from the HTML5 Boilerplate:
   * github.com/h5bp/html5-boilerplate/blob/5.3.0/dist/doc/css.md#print-styles
   * github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
   */

  /*
   * Strip all background colors, change the font color to black, and remove the
   * text-shadow — done in order to help save printer ink and speed up the 
   * printing process. More info: www.sanbeiji.com/archives/953.
   */

  *,
  *::before,
  *::after,
  *:first-letter,
  *:first-line 
    background transparent !important
    color #000 !important
    box-shadow none !important
    text-shadow none !important


  /*
   * Underline and expand links to include the URL.
   */

  a,
  a:visited 
    text-decoration underline

  a[href]::after 
    content " (" attr(href) ")"


  /*
   * Don't show links that are fragment identifiers, or use the `javascript:`
   * pseudo protocol.
   */

  a[href^="#"]::after,
  a[href^="javascript:"]::after
    content ""


  /* 
   * Expand abbreviations to include the full description.
   */

  abbr[title]::after
    content " (" attr(title) ")"


  /*
   * Ensure the table header (<thead>) is printed on each page spanned by the
   * table: css-discuss.incutio.com/wiki/Printing_Tables.
   */

  thead
    display table-header-group


  /*
   * Prevent block quotations, preformatted text, images and table rows from
   * being split onto two different pages.
   */

  pre,
  blockquote 
    border 1px solid #999
    page-break-inside avoid

  tr,
  img
    page-break-inside avoid


  /*
   * Ensure that headings never appear on a different page than the text they
   * are associated with.
   */

  h2,
  h3
    page-break-after avoid


  /* 
   * Ensure that orphans and widows do not appear on printed pages 
   */

  p,
  h2,
  h3
    orphans 3
    widows 3