/* ==========================================================================
   FLEXBOX
   ========================================================================== */

/*
 * Helper classes to define/apply onto Flexbox container.
 */



/*
 * Define Flexbox container.
 */

.h-flex-row
  display flex !important
  flex-direction row !important

  &--reverse
    display flex !important
    flex-direction row-reverse !important  

.h-flex-column
  display flex !important
  flex-direction column !important

  &--reverse
    display flex !important
    flex-direction column-reverse !important  

.h-inline-flex
  display inline-flex !important





/* Justify-Content Property
   ========================================================================== */

.h-justify-center
  justify-content center !important

.h-justify-end
  justify-content flex-end !important

.h-justify-start
  justify-content flex-start !important

.h-justify-around
  justify-content space-around !important

.h-justify-between
  justify-content space-between !important





/* Align-Items Property
   ========================================================================== */

.h-align-items-baseline
  align-items baseline !important

.h-align-items-center
  align-items center !important

.h-align-items-end
  align-items flex-end !important

.h-align-items-start
  align-items flex-start !important

.h-align-items-stretch
  align-items stretch !important





/* Align-Content Property
   ========================================================================== */

.h-align-content-center
  align-content center !important

.h-align-content-end
  align-content flex-end !important

.h-align-content-start
  align-content flex-start !important

.h-align-content-around
  align-content space-around !important

.h-align-content-between
  align-content space-between !important

.h-align-content-stretch
  align-content stretch !important





/* Align-Self Property
   ========================================================================== */

.h-align-self-auto
  align-self auto !important

.h-align-self-baseline
  align-self flex-baseline !important

.h-align-self-center
  align-self center !important

.h-align-self-end
  align-self flex-end !important

.h-align-self-start
  align-self flex-start !important

.h-align-self-stretch
  align-self stretch !important





/* Flex-Wrap Property
   ========================================================================== */

.h-flex-nowrap
  flex-wrap nowrap !important

.h-flex-wrap
  flex-wrap wrap !important

.h-flex-wrap-reverse
  flex-wrap wrap-reverse !important