/* ==========================================================================
   HEADING
   ========================================================================== */



/*
 * Redefine all of our basic heading styles against utility classes so as to
 * allow for double stranded heading hierarchy, e.g. we semantically need an H2,
 * but we want it to be sized like an H1:
 *
 *   <h2 class="h1"></h2>
 */

.h-h1
  font-size $h1-font-size !important

.h-h2
  font-size $h2-font-size !important

.h-h3
  font-size $h3-font-size !important

.h-h4
  font-size $h4-font-size !important

.h-h5
  font-size $h5-font-size !important

.h-h6
  font-size $h6-font-size !important