// =============================================================================
// COLOR
// =============================================================================

// Project's color assignments.





// Better Default HTML Colors
// =============================================================================

// Reassign default HTML colors to modern ones taken from the Material Design
// color palette. These colors are accessible by calling the color name
// directly, e.g.:
//
//   pre
//     color navy

navy    ?= palette(Indigo, '900')
blue    ?= palette(Blue)
aqua    ?= palette('Light Blue', '200')
teal    ?= palette(Cyan, '300')
olive   ?= palette(Teal)
green   ?= palette(Green)
lime    ?= palette(Green, 'A400')
yellow  ?= palette(Yellow, '600')
orange  ?= palette(Orange)
red     ?= palette(Red, '600')
maroon  ?= palette(Pink, '900')
fuchsia ?= palette(Purple, 'A400')
purple  ?= palette(Purple)
white   ?= palette(White)
silver  ?= palette(Grey, '300')
grey    ?= palette(Grey)
black   ?= palette(Black)





// Brand Colors
// =============================================================================

// 1. Color that is displayed most frequently across project's screens and
//    components.
// 2. Color that is used to accent select parts of the UI. It can be
//    complementary or analogous to the primary color, but it should not simply
//    be a light or dark variation of the primary color.

$color-primary ?= palette(Indigo) // [1]
$color-accent  ?= palette(Pink, 'A200') // [2]





// Brand Color Tints
// =============================================================================

// Different percentages of white and black added to the brand colors to fill
// out the range of color palette.

$tint-grades       ?= 25% 50% 75%


// Primary color tints.

$color-primary-l25 ?= mix(white, $color-primary, $tint-grades[0])
$color-primary-l50 ?= mix(white, $color-primary, $tint-grades[1])
$color-primary-l75 ?= mix(white, $color-primary, $tint-grades[2])

$color-primary-d25 ?= mix(black, $color-primary, $tint-grades[0])
$color-primary-d50 ?= mix(black, $color-primary, $tint-grades[1])
$color-primary-d75 ?= mix(black, $color-primary, $tint-grades[2])


// Accent color tints.

$color-accent-l25  ?= mix(white, $color-accent, $tint-grades[0])
$color-accent-l50  ?= mix(white, $color-accent, $tint-grades[1])
$color-accent-l75  ?= mix(white, $color-accent, $tint-grades[2])

$color-accent-d25  ?= mix(black, $color-accent, $tint-grades[0])
$color-accent-d50  ?= mix(black, $color-accent, $tint-grades[1])
$color-accent-d75  ?= mix(black, $color-accent, $tint-grades[2])





// State Colors
// =============================================================================

$color-success  ?= green // [3]
$color-warning  ?= palette(Yellow, '700') // [3]
$color-danger   ?= red // [3]
$color-hint     ?= palette(Black, 'Hint Text')
$color-disabled ?= palette(Black, 'Disabled Text')





// Color Settings
// =============================================================================

// 1. Used in `text-selection()` tool to set the text highlight color.

$body-color                 ?= palette(Black, 'Text')
$link-color                 ?= $color-accent
$highlight-bg-color         ?= palette(Grey, '500') // [1]
$placeholder-color          ?= mix($color-hint, white, 80%)
$placeholder-disabled-color ?= $placeholder-color
