// =============================================================================
// FONT
// =============================================================================

// Font declarations & settings.





// Font Stacks
// =============================================================================

// Shortcuts to common font stacks with appropriate fallbacks. 

// Sans-serif font stacks.
//
// 1. By default, Mac's will get Helvetica and PC's will get more appropriate
//    for their screens Arial.

$sans-serif     ?= sans-serif // [1]
$helvetica-neue ?= "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif
$helvetica      ?= Helvetica, sans-serif
$open-sans      ?= "Open Sans", sans-serif
$roboto         ?= Roboto, sans-serif
$lucida-grande  ?= "Lucida Grande", Tahoma, Verdana, sans-serif
$verdana        ?= Verdana, Geneva, sans-serif


// Serif font stacks.

$cambria        ?= Cambria, Georgia, serif
$garamond       ?= Garamond, Baskerville, "Times New Roman", serif


// Monospace font stacks.

$lucida-console ?= "Lucida Console", Monaco, monospace
$courier-new    ?= "Courier New", Courier, monospace





// Font Settings
// =============================================================================

$font-family-primary   ?= $sans-serif
$font-family-monospace ?= $lucida-console
$line-height           ?= $golden


// Body font sizes.

$font-size-4x          ?= $unit-4x
$font-size-3x          ?= $unit-3x
$font-size-2x          ?= $unit-2x
$font-size-xl          ?= $unit-xl
$font-size-lg          ?= $unit-lg
$font-size             ?= $unit
$font-size-sm          ?= $unit-sm
$font-size-xs          ?= $unit-xs


// Headings font sizes.

$h1-font-size          ?= $font-size-4x
$h2-font-size          ?= $font-size-3x
$h3-font-size          ?= $font-size-2x
$h4-font-size          ?= $font-size-xl
$h5-font-size          ?= $font-size-lg
$h6-font-size          ?= $font-size