// =============================================================================
// CONFIG
// =============================================================================

// Project-level configuration and feature switches.



// A map of global config settings. Define any project-level configuration,
// feature switches, etc. in here.

$environments ?= 'dev' 'production'

$config ?= {
  'env':   $environments[0],
  'debug': false
}


// Access data in the `$config` object. Example usage:
//
//   if config('debug')
//     *
//       border 1px solid fuchsia

config($key)

  return $config[$key]
