// =============================================================================
// FONT
// =============================================================================

// Font declarations & settings.





// Font Stacks
// =============================================================================

// Shortcuts to common font stacks with appropriate fallbacks.

// Sans-Serif Font Stacks
//
// 1. By default, Mac's will get Helvetica and PC's will get more appropriate
//    for their screens Arial.

_$sans-serif     ?= sans-serif // [1]
_$helvetica-neue ?= "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif
_$helvetica      ?= Helvetica, sans-serif
_$open-sans      ?= "Open Sans", sans-serif
_$roboto         ?= Roboto, sans-serif
_$lucida-grande  ?= "Lucida Grande", Tahoma, Verdana, sans-serif
_$verdana        ?= Verdana, Geneva, sans-serif


// Serif Font Stacks

_$cambria        ?= Cambria, Georgia, serif
_$garamond       ?= Garamond, Baskerville, "Times New Roman", serif


// Monospace Font Stacks

_$lucida-console ?= "Lucida Console", Monaco, monospace
_$courier-new    ?= "Courier New", Courier, monospace





// Font Settings
// =============================================================================

$font-family-primary   ?= _$sans-serif
$font-family-monospace ?= _$lucida-console

$line-height           ?= $perfect-fifth


// Font Sizes Scale

$font-size-4x          ?= $unit-4x
$font-size-3x          ?= $unit-3x
$font-size-2x          ?= $unit-2x
$font-size-xl          ?= $unit-xl
$font-size-lg          ?= $unit-lg
$font-size             ?= $unit
$font-size-sm          ?= $unit-sm
$font-size-xs          ?= $unit-xs
