// =============================================================================
// OTHER
// =============================================================================

// Miscellaneous project-wide variables. Standardise UI treatments to keep
// them consistent across the project.





// Border Radius Master List
// =============================================================================

$global-radius-lg ?= .6rem
$global-radius    ?= .4rem
$global-radius-sm ?= .2rem





// Z-index Master List
// =============================================================================

$z-index-dropdown         ?= 1000
$z-index-tooltip          ?= 1020
$z-index-navbar           ?= 1040
$z-index-modal-background ?= 1060
$z-index-toast            ?= 1080
