/* ==========================================================================
   FORM
   ========================================================================== */



/*
 * Set color to placeholder.
 */

+placeholder()
  color $hint-color


/*
 * Truncate text to the width of <input> field using ellipsis.
 */

input[placeholder]
  text-overflow ellipsis


/*
 * Let the user resize only the height of <textarea> element.
 */

textarea
  resize vertical