/* ==========================================================================
   FORM
   ========================================================================== */



/*
 * Set color to placeholder.
 */

input,
textarea
  placeholder($placeholder-color, $placeholder-disabled-color)


/*
 * Truncate text to the width of <input> field using ellipsis.
 */

input[placeholder]
  text-overflow ellipsis


/*
 * Truncate text to the width of field using ellipsis.
 */

input,
textarea
  text-overflow ellipsis
  overflow hidden


/*
 * Let the user resize only the height of <textarea> element.
 */

textarea
  resize vertical
