/* ==========================================================================
   LINK
   ========================================================================== */



/*
 * 1. Offset link from surrounding text.
 * 2. Remove link's underline.
 */

a
  font-weight 600 /* [1] */
  color $accent /* [1] */
  text-decoration none /* [2] */