/* ==========================================================================
   TYPE
   ========================================================================== */



/*
 * 1. Apply default monospace font to <pre> and phrase elements.
 * 2. Make text size 85% of surrounding text — optimal for code elements.
 */

pre,
code,
kbd,
samp
  font-family $font-family-monospace /* [1] */
  font-size .85em /* [2] */


/*
 * Make size of small text elements always be slightly smaller than surrounding
 * text.
 */

sup,
sub,
small,
figcaption
  font-size (1 / $base-ratio) * 1em