/* ==========================================================================
   BUTTON
   ========================================================================== */

/*
 * This is an example component. Extend styles by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */



/*
 * 1. Make some properties depend from `font-size`.
 */

.c-btn
  button-color(palette(Grey, '200'))
  flex-shrink 0
  min-width 7em // [1]
  padding 1em // [1]
  border none
  border-radius $global-radius
  font-size $font-size-sm
  font-weight bold
  text-transform uppercase
  letter-spacing .05em // [1]
  transition $global-duration
  
  &[disabled="disabled"]
    button-disabled(palette(Grey, '400'))





  /* Style Variants
     ======================================================================== */

  &--primary
    button-color($primary)

  &--accent
    button-color($accent, white)





  /* Size Variants
     ======================================================================== */

  &--sm
    font-size $font-size-xs

  &--lg
    padding 1.5em