// =============================================================================
// BUTTON
// =============================================================================

// Tools for buttons.





// Button Color
// =============================================================================

// Set button's background & color, including `:hover` and `:active` states.

button-lighter($background-color, $amount = $tint-grades[2])
  background-color mix($background-color, white, $amount)


button-darker($background-color, $amount = $tint-grades[2])
  background-color mix($background-color, black, $amount)


button-color($background-color, $text-color = null)
  $text-color = (light($background-color) ? $body-color : white) unless $text-color

  background-color $background-color
  color $text-color

  &:hover
    button-lighter(@background-color)
    color @color

  &:active
    button-darker(@background-color)
    color @color





// Button Disabled
// =============================================================================

// Apply styles for disabled buttons.

button-disabled($background-color, $text-color = null)
  $text-color = (light($background-color) ? $body-color : white) unless $text-color

  background-color $background-color
  color $text-color
  cursor default
  pointer-events none
  
  &:hover,
  &:focus,
  &:active
    background-color @background-color
    color @color