// =============================================================================
// OUTLINE
// =============================================================================





// Outline Styles
// =============================================================================

outline-styles()
  outline 1px dotted $color-hint
