// =============================================================================
// POSITION
// =============================================================================





// Centered
// =============================================================================

x-centered()
  position absolute
  left 50%
  transform translateX(-50%)


y-centered()
  position absolute
  top 50%
  transform translateY(-50%)


xy-centered()
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)