// =============================================================================
// TYPE
// =============================================================================

// Tools for typographics.





// Text-Selection
// =============================================================================

// Set custom text selection background & color.

text-selection($bg-color, $color = null)

  $color = (light($bg-color) ? $body-color : white) unless $color

  &::-moz-selection
    background $bg-color
    color $color

  &::selection
    background $bg-color
    color $color
