/* ==========================================================================
   FORM
   ========================================================================== */

/*
 * Base form styles (for <input>, <textarea>, etc).
 */



/*
 * 1. Avoid <input> line break in Safari.
 * 2. Truncate text to the width of <input> field using ellipsis.
 */

input
  word-break normal /* [1] */
  text-overflow ellipsis /* [2] */
  overflow hidden /* [2] */

  &[placeholder]
    text-overflow ellipsis /* [2] */


/*
 * Let the user resize only the height of <textarea> element.
 */

textarea
  resize vertical
