// =============================================================================
// OTHER
// =============================================================================

// Miscellaneous project-wide variables. Standardise some UI treatments to keep
// it consistent across the project.



// 1. Standard `transtion-duration`.
// 2. Standard `border-radius` to use in button/input/etc styles.

$global-duration     = .2s // [1]
$global-radius       = .2rem // [2]


// 1. Consistent `margin-bottom` for block elements.

$block-margin-bottom = $unit