// =============================================================================
// COLOR
// =============================================================================

// Project's color assignments. Expand this file by adding your own project's
// colors and modifiying existing colors.





// Better Default HTML Colors
// =============================================================================

// Reassign default HTML colors to modern ones taken from the Material Design
// color palette. These colors are accessible by calling the color name
// directly, e.g.:
//
//   pre
//     color navy

navy    = palette(Indigo, '900')
blue    = palette(Blue)
aqua    = palette('Light Blue', '200')
teal    = palette(Cyan, '300')
olive   = palette(Teal)
green   = palette(Green)
lime    = palette(Green, 'A400')
yellow  = palette(Yellow, '600')
orange  = palette(Orange)
red     = palette(Red, '600')
maroon  = palette(Pink, '900')
fuchsia = palette(Purple, 'A400')
purple  = palette(Purple)
white   = palette(White)
silver  = palette(Grey, '300')
grey    = palette(Grey)
black   = palette(Black)





// Brand Colors
// =============================================================================

// Customize existing colors and add your brand colors here.


// 1. Color that is displayed most frequently across project's screens and 
//    components.
// 2. Color that is used to accent select parts of the UI. It can be
//    complementary or analogous to the primary color, but it should not simply
//    be a light or dark variation of the primary color.
// 3. Colors that are used to indicate different states. You can add more states
//    like 'active', 'disabled', etc.

$primary = palette(Indigo) // [1]
$accent  = palette(Pink, 'A200') // [2]

$error   = red // [3]
$warning = palette(Yellow, '700') // [3]
$success = green // [3]





// Miscellaneous Color Settings
// =============================================================================

$highlight-bg-color = palette(Grey, '500')
$hint-color         = palette(Black, 'Hint Text')