// =============================================================================
// TEXT
// =============================================================================



// Set custom text selection background & color.

text-selection($bg-color = $highlight-bg-color, $text-color = null)
  $text-color = (light($bg-color) ? $color : white) unless $text-color

  &::-moz-selection
    background $bg-color
    color $text-color

  &::selection
    background $bg-color
    color $text-color