/* ========================================================================== *
 *                                                                            *
 *                                 BREEZE.CSS                                 *
 *                                                                            *
 * ========================================================================== */

/*
 * Breeze.css, by @antonskyba
 * Framework that inspires on writing better CSS.
 *
 * github.com/antonskyba/Breeze.css
 */





/* CONTENTS
 * ========================================================================== */

/*
 * SETTINGS
 * Config...............Project-level configuration and feature switches.
 * Ratio................Ratios that can be used to produce spacing values.
 * Core.................Most important setup variables, such as Base Unit and
 *                      Base Ratio.
 * Breakpoint...........Breakpoints at which layout changes adapting to
 *                      different screen sizes.
 * Palette..............Material Design color palette.
 * Color................Project's color assignments.
 * Font.................Font declarations & settings.
 * Animation............Custom animation timing functions, ported from Axis.
 * Other................Miscellaneous project-wide variables.
 *
 * TOOLS
 * Button...............Buttons tools.
 * Form.................Form tools.
 * Type.................Type tools.
 *
 * GENERIC
 * Box-sizing...........Slightly better box-sizing practice.
 * Normalize............Normalize.css from Necolas.
 * Reset................Simple reset that complements Normalize.css.
 * Shared...............Shared declarations for certain elements.
 *
 * ELEMENTS
 * Page.................Base styles for page-level elements.
 * Link.................Simple styles for <a> element.
 * Heading..............Very minimal (i.e. only font-size sets) styles for
 *                      headings.
 * Type.................Default styles for text elements.
 * Button...............Default button styles.
 * Form.................Base form styles (for <input>, <textarea>, etc).
 * Image................Base image styles.
 * Table................Simple table styles.
 *
 * OBJECTS
 * Heading..............Headings classes to separate semantics from styling.
 * Grid.................Grid module.
 * Wrapper..............Page constraint object.
 * Table................Simple object for manipulating the structure of <table>.
 *
 * COMPONENTS
 * Button...............An example button component, and how it fits into the
 *                      Breeze framework.
 *
 * HELPERS
 * Accessibility........Helper classes that control content's accessibility.
 * Box-model............Utility classes to put box-model values onto elements.
 * Flexbox..............Helper classes to set and control Flexbox container.
 * Print................Print styles that optimize the printing process and make
 *                      the printed pages easier to read.
 * Debug................Styles to make debugging easier.
 */





$css-path = '/' 

// SETTINGS
// =============================================================================
   
// Global settings files that contain project-wide variables; things that need
// to be made available to the entire codebase.

@import $css-path + 'settings/config.settings'
@import $css-path + 'settings/ratio.settings'
@import $css-path + 'settings/core.settings'
@import $css-path + 'settings/breakpoint.settings'
@import $css-path + 'settings/palette.settings'
@import $css-path + 'settings/color.settings'
@import $css-path + 'settings/font.settings'
@import $css-path + 'settings/animation.settings'
@import $css-path + 'settings/other.settings'





// TOOLS
// =============================================================================

// Globally used mixins and functions. Additional libs can be imported and
// initialized there.

@import $css-path + 'tools/button.tools'
@import $css-path + 'tools/form.tools'
@import $css-path + 'tools/type.tools'





/* GENERIC
 * ========================================================================== */

/*   
 * Low-specific & far-reaching rulesets: reset, normalize, box-sizing
 * definition, etc. This is the first layer which generates actual CSS.   
 */

@import $css-path + 'generic/box-sizing.generic'
@import $css-path + 'generic/normalize.generic'
@import $css-path + 'generic/reset.generic'
@import $css-path + 'generic/shared.generic'





/* ELEMENTS
 * ========================================================================== */

/*
 * Styles for unclassed HTML elements (e.g. <h1>, <input>). These come with
 * default styling from the browser so we can redefine them there.
 */

@import $css-path + 'elements/page.elements'
@import $css-path + 'elements/link.elements'
@import $css-path + 'elements/heading.elements'
@import $css-path + 'elements/type.elements'
@import $css-path + 'elements/button.elements'
@import $css-path + 'elements/form.elements'
@import $css-path + 'elements/image.elements'
@import $css-path + 'elements/table.elements'





/* OBJECTS
 * ========================================================================== */

/*
 * Class-based selectors which define objects, abstractions, and design 
 * patterns. 
 */

@import $css-path + 'objects/heading.objects'
@import $css-path + 'objects/grid.objects'
@import $css-path + 'objects/wrapper.objects'
@import $css-path + 'objects/table.objects'





/* COMPONENTS
 * ========================================================================== */

/*
 * Discrete, complete chunks of UI. This is where majority of designed
 * components/chunks of UI are injected.
 */

@import $css-path + 'components/example.button.components'





/* HELPERS
 * ========================================================================== */

/*
 * Utilities and helper classes with ability to override anything which goes
 * before.
 */

@import $css-path + 'helpers/accessibility.helpers'
@import $css-path + 'helpers/box-model.helpers'
@import $css-path + 'helpers/flexbox.helpers'
@import $css-path + 'helpers/print.helpers'
@import $css-path + 'helpers/debug.helpers'