// =============================================================================
// BREEZE.CSS
// =============================================================================

// Breeze.css, by @antonskyba
// Better way to write CSS
//
// github.com/antonskyba/Breeze.css





// Config
// =============================================================================

// Global settings files that contain project-wide variables; things that need
// to be made available to the entire codebase.

// <-- Import Rupture here -->
@import './config'





// Functions
// =============================================================================

// Globally used functions and mixins.

@import './functions'





// Generic
// =============================================================================

// Low-specific & far-reaching rulesets: reset, normalize, box-sizing
// definition, etc. This is the first layer which generates actual CSS.

// <-- Import Normalize.css here (optionally) -->
@import './generic'





// HTML Tags
// =============================================================================

// Styles for unclassed HTML elements (e.g. <h1>, <input>). These come with
// default styling from the browser so we can redefine them there.

@import './html-tags'





// Objects
// =============================================================================

// Class-based selectors which define objects, abstractions, and design
// patterns.

@import './objects'





// UI Components
// =============================================================================

// Discrete, complete chunks of UI. This is where majority of designed
// components/chunks of UI are injected.

@import './ui-components'





// Utilities
// =============================================================================

// Utilities and helper classes with ability to override anything which goes
// before.

@import './utilities'
