// =============================================================================
// FORM
// =============================================================================



// Style textfields's placeholder for all browsers.

placeholder()
  ::-webkit-input-placeholder
    {block}

  :-moz-placeholder
    {block}

  ::-moz-placeholder
    {block}

  :-ms-input-placeholder
    {block}